@font-face {
    font-family: 'Segoe UI',Segoe,Tahoma,Helvetica,Arial,Sans-Serif,SegoeUI-Regular-final;
    src: url(SegoeUI-Light.woff);
}
/* Base Styles */
Body
{
    font-family: 'Segoe UI',Segoe,Tahoma,Helvetica,Arial,Sans-Serif,SegoeUI-Regular-final;
    background: #f1f1f1;
    background: -moz-linear-gradient(left, rgba(255, 255, 255,1) 0%, rgba(222, 222, 222,1) 32%, rgba(222, 222, 222,1) 69%, rgba(255, 255, 255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(222, 222, 222) 0%,rgba(255, 255, 255,1) 32%,rgba(222, 222, 222) 69%,rgba(255, 255, 255,1) 100%);
    background: linear-gradient(to right, rgb(222, 222, 222) 0%,rgb(255, 255, 255) 32%,rgb(241, 241, 241) 69%,rgb(225, 225, 225) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=1 ); 
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59acff+0,6fb3f2+32,75b6ef+69,509eed+100 */
 /*   background: rgb(89,172,255); /* Old browsers
    background: -moz-linear-gradient(left, rgba(89,172,255,1) 0%, rgba(111,179,242,1) 32%, rgba(117,182,239,1) 69%, rgba(80,158,237,1) 100%); /* FF3.6-15 
    background: -webkit-linear-gradient(left, rgba(89,172,255,1) 0%,rgba(111,179,242,1) 32%,rgba(117,182,239,1) 69%,rgba(80,158,237,1) 100%); /* Chrome10-25,Safari5.1-6 
    background: linear-gradient(to right, rgba(89,172,255,1) 0%,rgba(111,179,242,1) 32%,rgba(117,182,239,1) 69%,rgba(80,158,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59acff', endColorstr='#509eed',GradientType=1 ); 
    */
    font-size: 14px;
    font-weight: 400;
    scrollbar-face-color: #212121;
    scrollbar-shadow-color: #fffff;
    scrollbar-highlight-color: #fffff;
    scrollbar-3dlight-color: #fffff;
    scrollbar-darkshadow-color: #fffff;
    scrollbar-track-color: #fffff;
    scrollbar-arrow-color: #fffff;


}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
   
}

footer .btn
{
    padding: 3px .75rem !important;
}

/* Let's get this party started */
body::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 6px #fff;
    background-Color:#767676!important; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    position: relative;
    display: inline;
    margin:0;
    
}

#cssmenu a {
  line-height: 1.3;
}
#cssmenu {

  width: 100%;
    height: 86vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 62px;
    display: block;
 
}

#cssmenu > ul > li 
{
     
    /* 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6); */


}
#cssmenu > ul > li:last-child {

}
#cssmenu > ul > li > a {
  font-size: 15px;
  display: block;
  color: #ffffff;
  padding: 10px 10px;
  margin-left:-8px;
  margin-right:-8px;
  background: 0 0 0 0.2;
/*  background: -moz-linear-gradient(#565656 0%, #323232 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #565656), color-stop(100%, #323232));
  background: -webkit-linear-gradient(#565656 0%, #323232 100%);
  background: linear-gradient(#565656 0%, #323232 100%); 
  border: 1px solid #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;*/
}
#cssmenu > ul > li > a > span {
  
 
  /* 
  border: 1px solid #666666;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; */
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
  background:#767676;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  background: #f4f4f4;
  /* background: -moz-linear-gradient(#97be10 0%, #79980d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97be10), color-stop(100%, #79980d));
  background: -webkit-linear-gradient(#97be10 0%, #79980d 100%);
  background: linear-gradient(#97be10 0%, #79980d 100%); 
  border: 1px solid #000; 
  text-shadow: 0 1px 1px #000; */
  color: #fff;
  
 
}
#cssmenu > ul > li.active > a span {
 /* border: 1px solid #97be10;*/
  color: #fff;
}
#cssmenu > ul > li.has-sub > a:hover  {
  background-color:#767676!important;
}
#cssmenu > ul > li.has-sub > a  {
  background: url(images/icon_plus.png) 90% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a
{  
    background: url(images/icon_minus.png) no-repeat 90% center;
    background-color: #767676 !important;
}

#cssmenu ul ul li a:active { 
    background-color: #767676!important;
}

/* Sub menu */
#cssmenu ul ul {
  display: none;
  margin-left:-15px;
}
#cssmenu ul ul li
{
    border-bottom: 1px solid #FFFFFF;
   
}
#cssmenu ul ul a {
     color: #fff;
    padding: 15px 0 15px 0;
    display: block;
    border-bottom: #fff solid 1px;
  
}
#cssmenu ul ul a:hover {
  background:#767676 !important;
}
.ms-Icon{
display: table-cell;
    font-size: 20px;
    vertical-align: middle;
    width: 50px;
    text-align: center;
}
.Links
{ 
  vertical-align: middle;
  word-wrap: break-word;
  -webkit-transition: all .367s cubic-bezier(.1,.9,.2,1);
  transition: all .367s cubic-bezier(.1,.9,.2,1);
  
}

.Company
{
      top: 0;
    position: fixed;
    padding: 20px 20px;
    background: #212121;
    color: #fff;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    width: 100%;
}

.Company a 
{
    color:#fff;
}

@media only screen and (max-width: 100px) {
   #cssmenu{display:none}
   .smalllogo{display:block !important;}
   .biglogo{display:none !important;}
   #cssmenu > ul > li.has-sub > a  {
  background: none;
  
}
#cssmenu > ul > li.has-sub.active > a
{  
    background: none;
}
}

.smalllogo{display:none; width:50px;}
.biglogo{display:block;width:200px;}

.footer
{
    width: 100%;
    bottom: 20px;
    position: absolute;
    padding: 20px 20px;
    color: #fff;
    margin-left: -8px;
    margin-right: -8px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.footer a 
{
    color:#fff;
}

.loader {
  position: relative;
  width: 75px;
  height: 100px;
      margin: auto;
}
.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: #f7941f;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.loader__bar:nth-child(1) {
  left: 0px;
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
  -webkit-animation: barUp1 4s infinite;
          animation: barUp1 4s infinite;
}
.loader__bar:nth-child(2) {
  left: 15px;
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
  -webkit-animation: barUp2 4s infinite;
          animation: barUp2 4s infinite;
}
.loader__bar:nth-child(3) {
  left: 30px;
  -webkit-transform: scale(1, 0.6);
          transform: scale(1, 0.6);
  -webkit-animation: barUp3 4s infinite;
          animation: barUp3 4s infinite;
}
.loader__bar:nth-child(4) {
  left: 45px;
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
  -webkit-animation: barUp4 4s infinite;
          animation: barUp4 4s infinite;
}
.loader__bar:nth-child(5) {
  left: 60px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-animation: barUp5 4s infinite;
          animation: barUp5 4s infinite;
}
.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
  -webkit-animation: ball 4s infinite;
          animation: ball 4s infinite;
}

@-webkit-keyframes ball {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(8px, -14px);
            transform: translate(8px, -14px);
  }
  10% {
    -webkit-transform: translate(15px, -10px);
            transform: translate(15px, -10px);
  }
  17% {
    -webkit-transform: translate(23px, -24px);
            transform: translate(23px, -24px);
  }
  20% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  27% {
    -webkit-transform: translate(38px, -34px);
            transform: translate(38px, -34px);
  }
  30% {
    -webkit-transform: translate(45px, -30px);
            transform: translate(45px, -30px);
  }
  37% {
    -webkit-transform: translate(53px, -44px);
            transform: translate(53px, -44px);
  }
  40% {
    -webkit-transform: translate(60px, -40px);
            transform: translate(60px, -40px);
  }
  50% {
    -webkit-transform: translate(60px, 0);
            transform: translate(60px, 0);
  }
  57% {
    -webkit-transform: translate(53px, -14px);
            transform: translate(53px, -14px);
  }
  60% {
    -webkit-transform: translate(45px, -10px);
            transform: translate(45px, -10px);
  }
  67% {
    -webkit-transform: translate(37px, -24px);
            transform: translate(37px, -24px);
  }
  70% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  77% {
    -webkit-transform: translate(22px, -34px);
            transform: translate(22px, -34px);
  }
  80% {
    -webkit-transform: translate(15px, -30px);
            transform: translate(15px, -30px);
  }
  87% {
    -webkit-transform: translate(7px, -44px);
            transform: translate(7px, -44px);
  }
  90% {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes ball {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(8px, -14px);
            transform: translate(8px, -14px);
  }
  10% {
    -webkit-transform: translate(15px, -10px);
            transform: translate(15px, -10px);
  }
  17% {
    -webkit-transform: translate(23px, -24px);
            transform: translate(23px, -24px);
  }
  20% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  27% {
    -webkit-transform: translate(38px, -34px);
            transform: translate(38px, -34px);
  }
  30% {
    -webkit-transform: translate(45px, -30px);
            transform: translate(45px, -30px);
  }
  37% {
    -webkit-transform: translate(53px, -44px);
            transform: translate(53px, -44px);
  }
  40% {
    -webkit-transform: translate(60px, -40px);
            transform: translate(60px, -40px);
  }
  50% {
    -webkit-transform: translate(60px, 0);
            transform: translate(60px, 0);
  }
  57% {
    -webkit-transform: translate(53px, -14px);
            transform: translate(53px, -14px);
  }
  60% {
    -webkit-transform: translate(45px, -10px);
            transform: translate(45px, -10px);
  }
  67% {
    -webkit-transform: translate(37px, -24px);
            transform: translate(37px, -24px);
  }
  70% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  77% {
    -webkit-transform: translate(22px, -34px);
            transform: translate(22px, -34px);
  }
  80% {
    -webkit-transform: translate(15px, -30px);
            transform: translate(15px, -30px);
  }
  87% {
    -webkit-transform: translate(7px, -44px);
            transform: translate(7px, -44px);
  }
  90% {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes barUp1 {
  0% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  40% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
}
@keyframes barUp1 {
  0% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  40% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
}
@-webkit-keyframes barUp2 {
  0% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  40% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  50% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  90% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
}
@keyframes barUp2 {
  0% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  40% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  50% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  90% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
}
@-webkit-keyframes barUp3 {
  0% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
  100% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
}
@keyframes barUp3 {
  0% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
  100% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
}
@-webkit-keyframes barUp4 {
  0% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  40% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  90% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  100% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
}
@keyframes barUp4 {
  0% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  40% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  90% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  100% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
}
@-webkit-keyframes barUp5 {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  90% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes barUp5 {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  90% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}



.FavButton
{
           border-bottom: #fff 1px solid;
    }
.FavButton:hover
{
           background-color:#b3d6f2;

    }    
.FavButton a
{
          font-size: 15px;
    display: block;
    color: #000;
    padding: 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
    background: 0 0 0 0.2;
}
.card-fluid:hover
{
            border:1px solid #b3d6f2;
    }
    
  .rating-group {
    display: inline-flex;
  }
  
  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }
  
  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 1.2rem;
  }
  
  /* set default star color */
  .rating__icon--star {
    color: #eee;
  }
  
  .Checked {
    color: #FFD700 !important;
  }
  
  /* set color of none icon when unchecked */
  .rating__icon--none {
    color: #eee;
  }

  /* if none icon is checked, make it red */
  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star {
    color: #FFD700;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
  
  /* make none icon grey on rating group hover */
  .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
     color: #eee;
  }

  /* make none icon red on hover */
  .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }
  
  .reviews
  {
          border-bottom: 1px solid #c5c5c5;
      }


.top-bar .icon{
    color: #fff;
    /*margin: 7px;*/
    float: left;
    border-radius: 5px;
    width:100%;
    }
.top-bar .icon i{
    color: #fff;
    font-size: 30px;
    margin: 7px;
    float: left;
    width:auto;
    }
    .top-bar  h4 {
      padding-left: 9px;
    font-size: 22px;
    /* margin-bottom: 0px; */
    /* padding-bottom: 0px; */
    color: #333333;
    /* vertical-align: bottom; */
    line-height: 40px;
    /* width: 100%; */
    float: left;
}
.top-bar  h5 {
    text-align: left;
    /* margin-top: 3px; */
    /* margin-bottom: 0px; */
    padding-bottom: 0px;
    color: #fff;
    /* font-size: 1.0rem; */
    /* float: right; */
    vertical-align: middle;
    line-height: 32px;
    font-size: 20px;
    font-weight: 600;
    /* margin-right: 5px; */
    position: absolute;
    right: 10px;
    top: 6px;
}
.top-bar {
    box-shadow: #c5c5c5 5px 5px 5px;
}

.top-bar .clr-green{
    color:#28a745 !important
}

 .top-bar .clr-red {
     color:#dc3545 !important;
    }

  .top-bar .clr-blue {
     color:cornflowerblue !important;
    }

   .top-bar .clr-yellow {
     color:yellow !important;
    }

.bg-c-purple {
background: #977fbb; /* Old browsers */
background: -moz-linear-gradient(left, #977fbb 0%, #615d8f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #977fbb 0%,#615d8f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #977fbb 0%,#615d8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#977fbb', endColorstr='#615d8f',GradientType=1 ); /* IE6-9 */
}
.bg-c-green {
background: #82b83a; /* Old browsers */
background: -moz-linear-gradient(left, #82b83a 0%, #59a13a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #82b83a 0%,#59a13a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #82b83a 0%,#59a13a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82b83a', endColorstr='#59a13a',GradientType=1 ); /* IE6-9 */
}
 .bg-c-red {
    background: #fcc813; /* Old browsers */
background: -moz-linear-gradient(left, #fcc813 1%, #d7901d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #fcc813 1%,#d7901d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #fcc813 1%,#d7901d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc813', endColorstr='#d7901d',GradientType=1 ); /* IE6-9 */
}
 .bg-c-lite-blue {
    background: #83c6ed; /* Old browsers */
background: -moz-linear-gradient(left, #83c6ed 0%, #5c96ca 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #83c6ed 0%,#5c96ca 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #83c6ed 0%,#5c96ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83c6ed', endColorstr='#5c96ca',GradientType=1 ); /* IE6-9 */
}
.top-bar .card-body {
    padding: 0;
}
.main-bg {
    background-color: #e9edf4 !important;
    background: #e9edf4 !important;
}

iframe {
    border:none !important;
    border-radius:5px;
}

.kitab .col-xl-3 {
    max-width:25%!important;
}

@media (min-width: 576px) {
 .kitab .container {
    max-width: 576px!important;
  }
}

@media (min-width: 768px) {
 .kitab .container {
    max-width: 768px!important;
  }
}

@media (min-width: 992px) {
 .kitab .container {
    max-width: 992px!important;
  }
}

@media (min-width: 1200px) {
 .kitab .container {
    max-width: 1200px!important;
  }
} 



.zoom1 {
 
  transition: transform .3s;

  margin-bottom: 5px;
	margin-top: 5px;
}

.zoom1:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.0); /* Safari 3-8 */
  transform: scale(1.1); 
}   