.bgimage{
    background-image: url('../Image/backgroundimage.jpg');
    background-size: 100% 100%;
    background-attachment: cover;
    width: 100%;
    height: 70vh;

}
.header{
    padding-top: 18vh ;
    box-sizing: border-box;
    font-size: 10% !important;
}
.header h1 {
    font-size: 5vh !important;
    font-weight: bold;
    color: aquamarine;
    background-attachment: fixed;

}
.service{
    padding: 100px 0px 60px;
    /* max-width: 100vh; */
    height: 73vh;
    width: 100vh;
    /* background-color: darkturquoise; */
}

.rowset{
    margin-top: 0vh;
    height: 45vh;
}

.service h2{
    font-size: 8vh;
    font-weight: bold;
}
.service h3{
    margin-top: 3vh;
    font-size: 5vh;
    font-weight: bold;
}
.fonticon{
    color:darkgray;
    border-radius: 10px;
    padding: 3vh;
}
.icon-border{
    border-radius: 15vh;
    color: darkorange;
    width: 100px;
    height: 100px;
}
.imgsetting{
    background-color: rgb(23, 133, 207) !important;

}

.Portfolio{
    height: 116vh;
    width: 100%;
    padding: 3vh 0vh 2vh;

    
    
}
.Portfolio h1{
    font-size: 8vh;
    font-weight: bold;
}
.card {
    padding: 3.8vh;
    padding-bottom: 3.8vh;
    margin-top: 2.5vh;
    margin-bottom: 1vh;
}

.hdPortfolio{
    font-size: 8vh;
    font-weight: bold; 
}
.figure-img{
    width: 30vh !important;
    height: 30vh !important;
}
.WebTeam{
    font-size: 8vh;
    font-weight: bold;
    
}

.team{
    padding-top: 2vh;
}

.teamrow{
    padding-top: 5vh;
}

.figure-caption{
    font-size: 3vh !important;
    font-weight: bold !important;
    color: black !important;
}
.team {
    height: 65vh;
    width: 100%;
    padding: 3vh 0vh 2vh;

}

.figer{
    margin-top: 1vh;
}
.footer{
    color: aquamarine;
    border: 2% solid;
    background-color: black;
}


/* media */
@media(max-width:1200px){
    .Portfolio{
        margin-top: 40px;
    }
    .team{
        padding: 10vh 0vh 2vh;
    }
}

@media(max-width:992px){
    .Portfolio{
        margin-top: 75px;
    }

}

@media(max-width:768px){
    .Portfolio{
        margin-top: 155px;
    }

}

@media(max-width:575px){
    .Portfolio{
        margin-top: 500px;
    }

}

@media(max-width:406px){
    .Portfolio{
        margin-top: 530px;
    }

}

@media(max-width:373px){
    .Portfolio{
        margin-top: 548px;
    }

}

@media(max-width:359px){
    .Portfolio{
        margin-top: 578px;
    }

}


@media(max-width:311px){
    .Portfolio{
        margin-top: 601px;
    }

}

@media(max-width:296px){
    .Portfolio{
        margin-top: 640px;
    }

}



@media(min-width:768px) and  (min-width:991px) {

}
